{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}

    <h1>Welcome to user dashboard</h1><br>
   
    <div>
    <a href="{{ path ("app_product_index") }}">Make an order</a>
    </div><br>

    <button>
	    <a href="{{ path ('app_logout') }}">Log out</a>
    </button>


{% endblock %}