{% extends "base.html.twig" %}

{% block header %}
	<header class="w-full bg-[#63c3db] h-28 flex justify-between items-center px-8">
		<div
			class="flex justify-center items-center p-4">
			<div class="text-[#ffebeb] text-5xl font-normal font-['Major Mono Display'] tracking-wider">
				MAGUA
			</div>
		</div>
	</header>
{% endblock %}


{% block main %}
	<div
		class="bg-[#20a1c1] flex justify-center items-center min-h-full space-x-8 py-12">

		<div class="flex flex-col items-center justify-between w-[35vw] h-[60vh] bg-white rounded-2xl shadow-lg p-6 transform hover:scale-105 transition duration-300 ease-in-out">
			<h3 class="text-black text-2xl mb-4 font-semibold">Pay with card</h3>

			<label for="card" class="text-gray-700 text-sm font-medium">Card information</label>
			<input type="text" name="cardholder" class="w-[80%] mb-4 p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#20a1c1]" placeholder="Full name on card">
			<input type="text" name="card" class="w-[80%] mb-4 p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#20a1c1]" placeholder="Card number">
			<input type="text" class="w-[80%] mb-4 p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#20a1c1]" placeholder="MM/YY">
			<input type="text" class="w-[80%] mb-4 p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#20a1c1]" placeholder="CVC">

			<button type="submit" class="w-[80%] bg- text-white rounded-lg p-3 hover:bg-gree-700 transition duration-200">Pay</button>
		</div>

		<div class="flex flex-col items-center justify-between w-[35vw] h-[60vh] bg-white rounded-2xl shadow-lg p-6 transform hover:scale-105 transition duration-300 ease-in-out">
			<h3 class="text-black text-2xl mb-4 font-semibold">Pay directly</h3>
			<p class="text-gray-700 text-center mb-6">You can pay directly at the location</p>
			<div class="w-full flex justify-center mb-6">
				<img src="{{ asset('img/repartidor.jpg') }}" alt="repartidor de agua" class="max-w-[80%] max-h-[80%] object-contain rounded-lg shadow-md">
			</div>

			<a href="{{ path('app_main') }}">
				<button type="button" class="w-full bg-green-600 text-white rounded-lg p-4 hover:bg-green-700 transition duration-200">
					Proceed
				</button>
			</a>

		</div>

	</div>
{% endblock %}
