{% extends "base.html.twig" %}

{% block header %}
	<header class="w-full bg-[#63c3db] h-28 flex justify-between items-center px-8">
		<div
			class="flex justify-center items-center p-4">
			<!-- Título MAGUA -->
			<div class="text-[#ffebeb] text-5xl font-normal font-['Major Mono Display'] tracking-wider">
				MAGUA
			</div>
		</div>
	</header>
{% endblock %}


{% block main %}
	<div
		class="flex justify-center items-center min-h-full space-x-8">
		<!-- Div para "Pay with card" -->
		<div class="flex flex-col items-center justify-between w-[35vw] h-[60vh] bg-blue-500 rounded-lg shadow-lg p-4">
			<h3 class="text-white text-2xl mb-2">Pay with card</h3>

			<label for="card" class="text-white">Card information</label>
			<input type="text" name="cardholder" class="w-[80%] mb-2 p-2 rounded-md" placeholder="Full name on card">
			<input type="text" name="card" class="w-[80%] mb-2 p-2 rounded-md" placeholder="Card number">
			<input type="text" class="w-[80%] mb-2 p-2 rounded-md" placeholder="MM/YY">
			<input type="text" class="w-[80%] mb-2 p-2 rounded-md" placeholder="CVC">

			<button type="submit" class="w-[80%] bg-blue-700 text-white rounded-lg p-2">Pay</button>
		</div>

		<!-- Div para "Pay In Situ" -->
		<div class="flex flex-col items-center justify-between w-[35vw] h-[60vh] bg-green-500 rounded-lg shadow-lg p-4">
			<h3 class="text-white text-2xl mb-2">Pay In Situ</h3>
			<p class="text-white text-center mb-4">You can pay directly at the location</p>
			<div class="w-full flex justify-center">
				<img src="{{ asset('img/repartidor.jpg') }}" alt="repartidor de agua" class="max-w-[80%] max-h-[85%] object-contain">
			</div>

			<a href="{{ path('app_main') }}">
				<button type="button" class="w-[80%] bg-green-700 text-white rounded-lg p-2 ">Proceed</button>
			</a>
		</div>
	</div>
{% endblock %}


