<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>Welcome!</title>
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}
	</head>

	<body>

		{% block header %}

			<h1>
				WELCOME TO MAGUA!
			</h1>

			<h3>

				<a href="{{ path ('app_product_index') }}">
					Products
				</a>
			</h3>

			<h3>
				Do you have account?
			</h3>

			<h3>
				Log in
				<a href="{{ path ('app_login') }}">
					here
				</a>
			</h3>
			<h3>
				Register
				<a href="{{ path ('app_register') }}">
					here
				</a>
			</h3>

		{% endblock %}


		{% block body %}


			<div>
				<h1>
					advertising spots
				</h1>

			</div>
		{% endblock %}

		{% block footer %}

			<h1>
				FOOTER!
			</h1>


		{% endblock %}


	</body>
</html>
