{% extends 'base.html.twig' %}

{% block title %}User Dashboard
{% endblock %}

{% block body %}

	<h1>Welcome to terms and conditions</h1>
    <p>El precio por registrarte, será vender a tu madre. Me dijo <b>Abel</b> que lo pusiera.</p>

	<button>
		<a href="{{ path ('app_logout') }}">Log out</a>
	</button>


{% endblock %}
