{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}

    <h1>Welcome to dashboard</h1>

<button>
	<a href="{{ path ('app_logout') }}">Log out</a>
</button>


{% endblock %}